{% from "macros/blog.html" import render_blog_post_summary %}
{% from "macros/pagination.html" import render_pagination %}

<div class="section-container">
  <div class="container">
    <div class="row section-container-spacer">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="section-container-spacer">
          {% block body %}
            {% for child in this.pagination.items %}
              {{ render_blog_post_summary(child, from_index=true) }}
            {% endfor %}

            {{ render_pagination(this.pagination) }}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
