{% include 'meta.html' %}
{% include 'header.html' %}
{% block body %}
<!-- hero -->
<section class="hero bg-indigo">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-white mb-3">
        <h1 class="h2 pb-1">{{ this.title }}</h1>
        <h4>{{ this.description }}</h4>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-minimal">
            {% if this.parent %}
              <li class="breadcrumb-item"><a href="{{ this.parent.path|url }}">{{ this.parent.title }}</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{{ this.title }}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- / hero -->
{% endblock %}
{% include 'blog.html' %}
{% include 'footer.html' %}
{% include 'closing-tags.html' %}
