<!-- categories -->
<section>
  <div class="container">
    <h1 class="h2 font-weight-light pb-5">Focus areas</h1>
    <div class="row gutter-3 mt-5">
      <div class="col-md-6">
        <div class="card stacked">
          <div class="card-body">
            <div class="row gutter-2 align-items-center">
              <div class="col">
                <h3 class="font-weight-normal mb-2">Privacy</h3>
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item">We offer a set of privacy services to help users protect their communications.</li>
                </ul>
                <a href="/services" class="action mt-1 text-pink">View All</a>
              </div>
            </div>
            <i class="icon-eye-off icon-background text-indigo"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card stacked">
          <div class="card-body">
            <div class="row gutter-2 align-items-center">
              <div class="col">
                <h3 class="font-weight-normal mb-2">Anti-censorship</h3>
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item">We develop tools to by pass internet censorship and help users to communicate securely</li>
                </ul>
                <a href="/projects" class="action mt-1 text-pink">View All</a>
              </div>
            </div>
            <i class="icon-command icon-background text-indigo"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / categories -->
