<!-- categories -->
<section>
  <div class="container">
    <h1 class="h2 font-weight-light pb-5">Focus areas</h1>
    <div class="row gutter-3 mt-5">
      <div class="col-md-6">
        <div class="card stacked">
          <div class="card-body">
            <div class="row gutter-2 align-items-center">
              <div class="col">
                <h3 class="font-weight-normal mb-2">Privacy</h3>
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item">Technologies protecting users against arbitrary interference with their privacy.</li>
                  <li class="list-group-item">Understanding the effects of surveillance and its risk for freedom and democracy.</li>
                </ul>
                <a href="/services" class="action mt-1 text-pink">View All</a>
              </div>
            </div>
            <i class="icon-eye-off icon-background text-indigo"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card stacked">
          <div class="card-body">
            <div class="row gutter-2 align-items-center">
              <div class="col">
                <h3 class="font-weight-normal mb-2">Anti-censorship</h3>
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item">Access to a global and open Internet, where a person's demographic doesn't regulate their experience.</li>
                  <li class="list-group-item">Tools allowing freedom of opinion and expression., as when digital rights are restricted human rights are violated.</li>
                </ul>
                <a href="/projects" class="action mt-1 text-pink">View All</a>
              </div>
            </div>
            <i class="icon-command icon-background text-indigo"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card stacked">
          <div class="card-body">
            <div class="row gutter-2 align-items-center">
              <div class="col">
                <h3 class="font-weight-normal mb-2">Community</h3>
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item">Technology that empowers people, encourage participation and critical thinking.</li>
                  <li class="list-group-item">Successful and healthy communities to foster participation and collectiveness.</li>
                </ul>
                <a href="/projects" class="action mt-1 text-pink">View All</a>
              </div>
            </div>
            <i class="icon-link icon-background text-indigo"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card stacked">
          <div class="card-body">
            <div class="row gutter-2 align-items-center">
              <div class="col">
                <h3 class="font-weight-normal mb-2">Security</h3>
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item">Ensure safe use of communication technologies protecting users from dangers online.</li>
                  <li class="list-group-item">Analyse threats to applications and services. Suggest mitigations and alternatives to unsecure tools.</li>
                </ul>
                <a href="/projects" class="action mt-1 text-pink">View All</a>
              </div>
            </div>
            <i class="icon-bug icon-background text-indigo"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / categories -->
