<!-- Footer -->
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navbarFixedTopAnimation();
  });
</script>
<footer class="footer-container white-text-container">
  <div class="container">
    <div class="row">


      <div class="col-xs-12">
        <h3>DigitalPrivacy</h3>

        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <p><small>Website created by <a href="http://digitalprivacy.cc/" title="DigitalPrivacy">DigitalPrivacy</a></p>
          </div>
          <div class="col-xs-12 col-sm-5">
            <p class="text-right">
              <a href="https://github.com/digital-privacy" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/digprivacycc" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/company/cyber-barcelona" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
    scrollRevelation('.reveal');
  });
</script>

<script type="text/javascript" src="{{ '/static/main.0cf8b554.js'|asseturl }}"></script>
