{% include 'meta.html' %}
{% include 'header.html' %}

<!-- hero -->
<section class="hero bg-indigo pb-0">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center text-white">
      {% block body %}{% endblock %}
    </div>
  </div>
</div>
<div class="separator-top text-white mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row separated">
          <div class="col-4 py-5 text-center">
            <i class="icon-git-branch fs-30 d-block mb-1"></i>
            <span>1.0.0</span>
          </div>
          <div class="col-4 py-5 text-center">
            <i class="icon-github2 fs-30 d-block mb-1"></i>
            <a href="https://github.com/digital-privacy" class="action eyebrow">Watch</a>
          </div>
          <div class="col-4 py-5 text-center">
            <i class="icon-twitter2 fs-30 d-block mb-1"></i>
            <a href="https://twitter.com/digprivacycc" class="action eyebrow">Follow</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / hero -->
<section>
  <div class="container">
    <div class="row justify-content-between">
      {% include 'projects.html' %}
    </div>
    <div class="row justify-content-between">
      <!-- articles -->
      <section class="separator-top">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="h2 font-weight-light">Team</h1>
            </div>
          </div>
          <div class="row">
            {% include 'team.html' %}
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
{% include 'footer.html' %}
{% include 'closing-tags.html' %}
