<!-- content -->
<article id="content" class="col-lg-12">

 <h1 class="h2 font-weight-light">Projects</h1>

 {% set items = site.query('/projects').include_undiscoverable(true) %}
 {% for item in items %}
  <section id="{{ item._id }}">
     <h2 class="section-title">{{ item.title }} <a data-scroll href="{{ item.path|url }}" class="anchor" data-toggle="tooltip" data-placement="top" title="Copy URL"></a></h2>
     <p>{{ item.description }}</p>
     <a href="{{ item.path|url }}" class="btn btn-indigo" title="">
       Discover
     </a>
   </section>
 {% endfor %}
</article>
