<!-- content -->
<article id="projects" class="col-lg-12">

 <h1 class="h2 font-weight-light pb-5">What we are working on</h1>
 <!-- categories -->
    <section class="overlay pt-5">
      <div class="container overlay-item-top pt-5">
        <div class="row gutter-3 pt-5">
          {% set items = site.query('/projects').include_undiscoverable(true) %}
          {% for item in items %}
            <div class="col-md-6 col-lg-4">
              <div class="card stacked text-center">
                <div class="card-body">
                  <i class="icon-{{ item.icon }} icon-boxed icon-boxed-lg mb-3 bg-indigo text-white"></i>
                  <h3 class="card-title mb-1">{{ item.title }}</h3>
                  <p class="card-text mb-2">{{ item.description }}</p>
                  <a href="{{ item.path|url }}" class="eyebrow link text-indigo">Read More</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- / categories -->
</article>
