.navbar-header {
  background-image: url('/images/dp-logo-w.png');
  background-position: 0 0px;
  background-repeat: no-repeat;
  background-size: 95px;
  padding-left: 100px;
  padding-bottom: 30px;
  min-height: 120px;
}
