<div class="section-container">
  <div class="container">
    <div class="row section-container-spacer">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="section-container-spacer">
          {{ this.body }}
        </div>
        <img src="{{ '/static/images/img-05.jpg'|asseturl }}" alt="" class="img-responsive reveal-content" data-action="zoom">
      </div>
    </div>
  </div>
</div>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="section-container-spacer">
          <img src="{{ '/static/images/img-06.jpg'|asseturl }}" alt="" class="img-responsive reveal-content" data-action="zoom">
        </div>

        <div class="row">
          <div class="col-xs-6">
            <img src="{{ '/static/images/img-04.jpg'|asseturl }}" alt="" class="img-responsive reveal-content" data-action="zoom">
          </div>
          <div class="col-xs-6">
            <img src="{{ '/static/images/img-07.jpg'|asseturl }}" alt="" class="img-responsive reveal-content" data-action="zoom">
          </div>
        </div>
     </div>
    </div>
  </div>
</div>
