<header>
  <nav class="navbar navbar-default active">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" title="">
          <img src="{{ '/static/images/mashup-icon.svg'|asseturl }}" class="navbar-logo-img" alt="">DigitalPrivacy</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li{% if this._path == '/' %} class="active"{% endif
            %}><a href="{{ '/'|url }}">Welcome</a></li>
          {% for item in site.query('/') %}
            <li><a href="{{ item.path|url }}">{{ item.title }}</a></li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </nav>
</header>
