<div class="section-container">
  <div class="container text-center">
    <div class="row section-container-spacer">
      <div class="col-xs-12 col-md-12">
        <h2>Team</h2>
        <p>
          We are a group of nice people <br>
          For real like.
        </p>
      </div>
    </div>
    <div class="row">
      {% set items = site.query('/people').include_undiscoverable(true) %}
      {% for item in items %}
          <div class="col-xs-12 col-md-4">
            <img src="{{ '/static/images/profil-01.jpg'|asseturl }}" alt="" class="reveal img-responsive reveal-content image-center">
            <h3>{{ item.title }}</h3>
            {{ item.body }}
            <p>
              <a href="https://facebook.com/" class="social-round-icon fa-icon" title="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/" class="social-round-icon fa-icon" title="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/" class="social-round-icon fa-icon" title="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </p>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
