{% set items = site.query('/people').include_undiscoverable(true) %}
{% for item in items %}
  <div class="card border col-xs-12 col-md-4 justify-content-center">
    <img src="{{ '/static/images/profil-01.jpg'|asseturl }}" alt="" class="reveal reveal-content card-img-top rounded mx-auto d-block">

    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>

    </div>

    <div class="card-body ">
      {{ item.body }}
    </div>

    <div class="card-body">
      {% if item.github %}
        <a href="{{ item.github }}" class="social-round-icon fa-icon card-link" title="">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      {% endif %}
      {% if item.twitter %}
        <a href="{{ item.twitter }}" class="social-round-icon fa-icon card-link" title="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      {% endif %}
      {% if item.linkedin %}
        <a href="{{ item.linkedin }}" class="social-round-icon fa-icon card-link" title="">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      {% endif %}
      {% if item.web %}
        <a href="{{ item.web }}" class="social-round-icon fa-icon card-link" title="">
          <i class="fa fa-code" aria-hidden="true"></i>
        </a>
      {% endif %}
    </div>
  </div>
{% endfor %}
